body {
	font-family: 'Roboto', sans-serif;
	background-color: #69D2E7;
}
h1 {
	text-align: center;
	font-weight: 600;
}
h2 {
	margin-left: 20px;
}
h3 {
	text-align: center;
}
.mainContent {
	background-color: #F38630;
	margin-top: 7%;
	min-height: 300px;
	border-width: 5px;
	padding: 20px;
}
li {
    padding: 4px;
    margin: 2px 5% 2px 5%;
    /*margin-left:5%;
    margin-right:5%;
    margin-top: 2px;*/
}
li:hover {
	background-color: #E0E4CC;
}
img {
	margin: 0 auto;
	display: block;
	text-align: center;
	position: relative;
	right: 13px;
}
#startButton {
	width: 30%;
    height: 70px;
    margin: 0 auto;
    margin-top: 6%;
    display: block;
    font-size: 24px;
}
#playAgainButton {
	width: 30%;
    height: 70px;
    margin: 0 auto;
    margin-top: 6%;
    display: block;
    font-size: 24px;
}
}
p {
	font-size: 18px;
	margin-left: 5%;
	margin-right: 5%;
}
.timer p {
	font-size: 22px;
	text-align: center;
	margin-top: 60px;
}
#questionText {
	margin-left: 20px;
}